.is-row
  display : flex
  & > [class*=is-]
    & + [class*=is-]
      margin-left : $u2
  &:last-child
    margin-bottom : $u2
  & + .is-row
    margin-top : $u2

.is-half
  flex : 0.5
.is-one
  flex : 1
.is-two
  flex : 2
.is-three
  flex : 3
.is-four
  flex : 4
.is-five
  flex : 5
.is-six
  flex : 6
.is-seven
  flex : 7

