$header-height : $unit * 9
$aside-width : $unit * 35

.is-left-menu-layout
  flex : 1
  display : flex
  flex-direction : column
  // overflow-y : auto
  & > header
    background : $color-base00
    display : flex
    padding : $u2
    height : $header-height
    color : $color-text-light
    align-items : center
    h1
      flex : 1
      padding : 0 $u2
      font-size : $u4
    img
      height : $header-height

  & > section
    flex : 1
    display : flex
    overflow-y : auto
    // aside
    & > aside
      width : $aside-width
      background : darken( $color-base1, 5% )
      display : flex
      flex-direction : column
      // nav
      & > nav
        flex : 1
        overflow-y : auto
        ul
          li
            padding : $u2
            &:hover
              background : $color-base0
              color : $color-text-light
              cursor : pointer
            &.is-active
              background : lighten( $color-base0, 7% )
              color : $color-text-light
      // end nav

      & > section
        &.user-details
          padding : $u2
          background : darken( $color-base1, 7% )
          .user-field
            display : flex
            font-size : $unit * 2.5
            label
              flex : 1
              font-weight : 500
            .value
              flex : 2
            & + .user-field
              margin-top : $u
    // end aside

    // main content
    & > section
      flex : 1
      display : flex

