$dark : $color-base01

.is-brand-layout
  & > header
    background : $dark
    padding : $u2
    display : flex
    flex-direction : column
    align-items : center
    img
      & + h1
        margin-top : $u2
    h1
      font-size : $unit * 3.5
      font-weight : 400
      text-transform : uppercase
      text-align : center
      color : $color-text-light

  & > section
    background : $color-card
    padding : $u2

  & > footer
    background : $dark
    padding : $u2

