$header-height : $u6

.is-content-card
  flex : 1
  background : $color-base3
  display : flex
  flex-direction : column
  overflow-y : auto
  // header
  & > header
    display : flex
    height : $header-height
    padding : $u2
    h1
      flex : 1
      font-size : $u4
      line-height : $header-height
    .actions
      display : flex
      .is-action
        display : flex
        justify-content : center
        align-items : center
        width : $header-height
        font-size : $u4
        cursor : pointer
        opacity : 0.8
        &:hover
          opacity : 1
  // end header

  // section
  & > section
    flex : 1
    overflow-y : auto
  // end section

  // footer
  & > footer
    padding : $u2
  // end footer

