$u : $unit * 6

.is-pager
  display : flex
  .pager-wrap
    flex : 1
    display : flex
    justify-content : center
    button
      border : 0
      width : auto
    nav
      justify-content : center
      ul
        display : flex

    button,
    nav ul li
      min-width : $u
      height : $u
      text-align : center
      line-height : $u
      text-transform : uppercase
      &.is-active
        background : darken( $color-base1, 2% )
      &:hover
        background : $color-base1
        cursor : pointer
      &.is-text
        padding : 0 $unit * 2

    &.is-full-width
      justify-content : space-between

