.is-content-placeholder
  flex : 1
  display : flex
  justify-content : center
  align-items : center
  .placeholder
    max-width : 50%
    color : lighten( $color-text, 35% )
    p.centered
      font-size : $u4
      text-align : center

