$header-height : $u6

.is-search-box
  flex : 1
  display : flex
  .clear
    min-width : $header-height
    height : $header-height
    display : flex
    justify-content : center
    align-items : center
    background : lighten( $color-base1, 7% )
    cursor : pointer
    &::before
      font-family : Ionicons
      content : "\f2d7"
      font-size : $u4
    &:hover
      background : lighten( $color-base1, 2% )
  input
    background : $color-base3
    font-size : $u4
    &::placeholder
      color : lighten( $color-text, 2% )
      opacity : 1

