.is-modal
  background : $color-main-content
  position : fixed
  top : 0
  left : 0
  width : 100%
  height : 100vh
  display : flex
  justify-content : center
  align-items : center
  .modal-content
    width : $unit * 50
    max-height : 70%
    &.is-half
      width : 50%
    &.is-large
      width : 70%

  .close
    position : fixed
    top : 0
    right : 0
    min-width : $header-height
    height : $header-height
    display : flex
    justify-content : center
    align-items : center
    cursor : pointer
    background : lighten( $color-base1, 2% )
    &::before
      font-family : Ionicons
      content : "\f2d7"
      font-size : $u4
    &:hover
      background : lighten( $color-base1, 7% )

