// all padding
.is-padding
  padding : $u

.is-padding-2x
  padding : $u2

.is-padding-3x
  padding : $u3

// all margin
.is-margin
  margin : $u

.is-margin-2x
  margin : $u2

.is-margin-3x
  margin : $u3

