.is-content-card.is-margin-2x
  header
    h1 Nuevo usuario
    .actions
      .is-action.is-success
        i.ion-android-done

  // main content
  section.is-padding-2x
    .is-row.is-underline
      h1 buttons
    .is-row
      .is-one
        .is-row
          h2 .is-bg-{ color }
        .is-row
          .is-one
            button.is-button.is-bg-yellow is-bg-yellow
        .is-row
          .is-one
            button.is-button.is-bg-orange is-bg-orange
        .is-row
          .is-one
            button.is-button.is-bg-red is-bg-red
        .is-row
          .is-one
            button.is-button.is-bg-magenta is-bg-magenta
        .is-row
          .is-one
            button.is-button.is-bg-violet is-bg-violet
        .is-row
          .is-one
            button.is-button.is-bg-blue is-bg-blue
        .is-row
          .is-one
            button.is-button.is-bg-cyan is-bg-cyan
        .is-row
          .is-one
            button.is-button.is-bg-green is-bg-green

      .is-one
        .is-row
          h2 .is-{ purpose }
        .is-row
          .is-one
            button.is-button.is-primary is-primary
        .is-row
          .is-one
            button.is-button.is-success is-success
        .is-row
          .is-one
            button.is-button.is-danger is-danger
        .is-row
          .is-one
            button.is-button.is-warning is-warning
        .is-row
          .is-one
            button.is-button.is-info is-info
        .is-row
          .is-one
            button.is-button.is-light is-light
        .is-row
          .is-one
            button.is-button.is-transparent is-transparent

      .is-one
        .is-row
          h2 .is-line-{ color }
        .is-row
          .is-one
            button.is-button.is-line-yellow is-line-yellow
        .is-row
          .is-one
            button.is-button.is-line-orange is-line-orange
        .is-row
          .is-one
            button.is-button.is-line-red is-line-red
        .is-row
          .is-one
            button.is-button.is-line-magenta is-line-magenta
        .is-row
          .is-one
            button.is-button.is-line-violet is-line-violet
        .is-row
          .is-one
            button.is-button.is-line-blue is-line-blue
        .is-row
          .is-one
            button.is-button.is-line-cyan is-line-cyan
        .is-row
          .is-one
            button.is-button.is-line-green is-line-green

    .is-row.is-underline
      h1 custom buttons
    .is-row
      .is-one
        .is-field
          label input file button
          label.is-file-button.is-bg-magenta
            input(
              type="file"
            )
            .is-icon
              i.ion-android-attach
            span Loremso

    .is-row.is-underline
      h1 inputs
    .is-row
      .is-one
        .is-field
          label text
          .is-control
            input(
              type="text"
              size="1"
            )

      .is-one
        .is-field
          label text with placeholder
          .is-control
            input(
              type="text"
              placeholder="hello i am a placeholder"
              size="1"
            )

      .is-one
        .is-field
          label text disabled
          .is-control
            input(
              type="text"
              size="1"
              disabled
            )

    .is-row.is-underline
      h2 textarea
    .is-row
      .is-one
        .is-field
          label textarea
          .is-control
            textarea(
              size="1"
            )

    .is-row.is-underline
      h1 dropdown
    .is-row
      .is-one
        .is-field
          label dropdown
          .is-select
            select
              option( disabled selected value="" ) select an item from this dropdown list
              option option one
              option option two
              option option three
      .is-one
        .is-field
          label dropdown disabled
          .is-select
            select( disabled )
              option( disabled selected value="" ) select an item
              option option one
              option option two

    .is-row.is-underline
      h1 number
    .is-row
      .is-half
        .is-field
          label number
          .is-control
            input(
              type="number"
              size="1"
            )

      .is-one
        .is-field
          label number disabled
          .is-control
            input(
              type="number"
              size="1"
              disabled
            )

    .is-row
      .is-one
        .is-row.is-underline
          h1 checkbox
        .is-row
          .is-one
            .is-field
              label.is-checkbox
                input(
                  type="checkbox"
                  checked
                )
                span checked

        .is-row
          .is-one
            .is-field
              label.is-checkbox
                input(
                  type="checkbox"
                  disabled
                )
                span unchecked disabled

        .is-row
          .is-one
            .is-field
              label.is-checkbox
                input(
                  type="checkbox"
                  checked
                  disabled
                )
                span checked disabled

      .is-one
        .is-row.is-underline
          h1 radio
        .is-row
          .is-one
            .is-field
              label.is-radio
                input(
                  type="radio"
                  name="radios"
                  value="1"
                  checked
                )
                span checked

        .is-row
          .is-one
            .is-field
              label.is-radio
                input(
                  type="radio"
                  name="radios"
                  value="2"
                  disabled
                )
                span unchecked disabled

        .is-row
          .is-one
            .is-field
              label.is-radio
                input(
                  type="radio"
                  checked
                  disabled
                )
                span checked disabled

    .is-row.is-underline
      h1 composed input controls
    .is-row
      .is-one
        .is-field
          label icon input
          .is-control
            .is-icon
              i.ion-android-person
            input(
              type="text"
              size="1"
            )

    .is-row
      .is-one
        .is-field
          label action input
          .is-control
            input(
              type="text"
              size="1"
            )
            .is-action
              i.ion-android-calendar

    .is-row
      .is-one
        .is-field
          label icon and action input
          .is-control
            .is-icon
              i.ion-android-person
            input(
              type="text"
              size="1"
            )
            .is-action
              i.ion-android-close

    .is-row
      .is-one
        .is-field
          label progress input
          .is-control
            .is-icon
              i.ion-android-person
            input(
              type="text"
              size="1"
            )
            .is-progress
              i.ion-android-favorite-outline

    .is-row
      .is-one
        .is-field
          label select with icon
          .is-control
            .is-icon
              i.ion-clipboard
            select
              option( disabled selected value="" )
              option option one
              option option two

    .is-row
      .is-one
        .is-field
          label select action and icon
          .is-control
            .is-icon
              i.ion-clipboard
            select
              option( disabled selected value="" )
              option option one
              option option two
            .is-progress
              i.ion-android-favorite-outline

    .is-row.is-underline
      h1 custom inputs
    .is-row
      .is-one
        .is-field
          label select tagger
          .is-select-tagger
            .tags
              .tag
                label lorem
                .remove
                  i.ion-android-close
              .tag
                label ipsum
                .remove
                  i.ion-android-close
            .select-wrap
              select
                option( disabled selected value="" ) add tag
                option option one
                option option two

    .is-row.is-underline
      h1 sample
    .is-row
      h3 nombre completo
    .is-row
      .is-one
        .is-field
          label nombre
          .is-control
            input(
              type="text"
              size="1"
            )

      .is-one
        .is-field
          label apellido paterno
          .is-control
            input(
              type="text"
              size="1"
            )

      .is-one
        .is-field
          label apellido materno
          .is-control
            input(
              type="text"
              size="1"
            )

    .is-row
      .is-one
        .is-field
          label género
          .is-select
            select
              option( disabled selected value="" ) selecciona un género
              option( value="MUJER" ) MUJER
              option( value="HOMBRE" ) HOMBRE

      .is-one
        .is-field
          label edad
          .is-control
            input(
              type="number"
              value="5"
              size="1"
              disabled
            )

    .is-row
      .is-one
        .is-field
          label bio
          .is-control
            textarea

  // end main content

  // footer
  footer
    .is-row
      .is-one
        button.is-button.is-danger Cancelar
      .is-one
        button.is-button.is-success guardar
  // end footer

