.is-content-card.is-margin-2x
  header
    .is-search-box
      input(
        ng-model="search"
        placeholder="Buscar usuario"
      )
      .clear( ng-click="search=''" ng-show="search" )
    .actions
      .is-action.is-success
        i.ion-android-add

  // main content
  section.sp
    .is-headered-collection.is-one.sp.is-overflow-y
      header
        .is-three name
        .is-one age
        .is-half.is-centered check
        .actions.is-offset-2x
      section.is-one.is-overflow-y
        .item( ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22]" )
          .is-three Loremso ipsumo
          .is-one 15
          .is-half.is-centered
            i.ion-android-done
          .actions
            .action.is-hover-info
              i.ion-edit
            .action.is-hover-danger
              i.ion-trash-b
  // end main content

  // footer
  footer
    .is-pager
      .pager-wrap
        button.back.ion-ios-arrow-back
        nav
          ul
            li.page.first 1
            li.page ...
            li.page 1
            li.page 2
            li.page.is-active 3
            li.page 4
            li.page 5
            li.page ...
            li.page.last 254
        button.next.ion-ios-arrow-forward
  // end footer

