.is-modal
  .modal-content.is-large.sp.is-overflow-y
    .is-content-card
      header
        h1 Nuevo usuario
        .actions
          .is-action.is-danger( ui-sref="inside.modals" )
            i.ion-android-close
    
      // main content
      section.is-padding-2x
        .is-row.is-underline
          h1 buttons
        .is-row
          .is-one
            .is-row
              h2 .is-bg-{ color }
            .is-row
              .is-one
                button.is-button.is-bg-yellow is-bg-yellow
            .is-row
              .is-one
                button.is-button.is-bg-orange is-bg-orange
            .is-row
              .is-one
                button.is-button.is-bg-red is-bg-red
            .is-row
              .is-one
                button.is-button.is-bg-magenta is-bg-magenta
            .is-row
              .is-one
                button.is-button.is-bg-violet is-bg-violet
            .is-row
              .is-one
                button.is-button.is-bg-blue is-bg-blue
            .is-row
              .is-one
                button.is-button.is-bg-cyan is-bg-cyan
            .is-row
              .is-one
                button.is-button.is-bg-green is-bg-green
          .is-one
            .is-row
              h2 .is-{ purpose }
            .is-row
              .is-one
                button.is-button.is-primary is-primary
            .is-row
              .is-one
                button.is-button.is-success is-success
            .is-row
              .is-one
                button.is-button.is-danger is-danger
            .is-row
              .is-one
                button.is-button.is-warning is-warning
            .is-row
              .is-one
                button.is-button.is-info is-info
            .is-row
              .is-one
                button.is-button.is-light is-light
            .is-row
              .is-one
                button.is-button.is-transparent is-transparent

        .is-row.is-underline
          h1 custom buttons
        .is-row
          .is-one
            .is-field
              label input file button
              label.is-file-button.is-bg-magenta
                input(
                  type="file"
                )
                .is-icon
                  i.ion-android-attach
                span Loremso

        .is-row.is-underline
          h1 inputs
        .is-row
          .is-one
            .is-field
              label text
              .is-control
                input(
                  type="text"
                  size="1"
                )

          .is-one
            .is-field
              label text with placeholder
              .is-control
                input(
                  type="text"
                  placeholder="hello i am a placeholder"
                  size="1"
                )

          .is-one
            .is-field
              label text disabled
              .is-control
                input(
                  type="text"
                  size="1"
                  disabled
                )


