// inputs base
input,
textarea,
select,
button
  background : darken( $color-main-content, 3% )
  border : 1px solid $color-input-border
  color : $color-text
  font-size : $input-font-size
  line-height : $input-height
  padding : 0 $u2
  width : 100%
  &::placeholder
    color : lighten( $color-text, 5% )
  &:disabled
    cursor : not-allowed
    opacity : 0.5

