//- field
$bg-color : lighten( $color-main-content, 5% )
.is-field
  display : flex
  flex-direction : column
  label
    font-size : $input-font-size
    & + *
      margin-top : $u
  .is-control
    display : flex
    input,
    textarea,
    select
      flex : 1
    .is-icon,
    .is-action,
    .is-progress
      background : $bg-color
      width : $input-height
      height : $input-height
      border : 1px solid $bg-color
      display : flex
      justify-content : center
      align-items : center
      i
        font-size : $input-font-size * 1.1

    .is-action
      &:hover
        background : lighten( $color-main-content, 7% )
        cursor : pointer

    .is-progress
      i
        animation : heartbeat 1s infinite

