select
  appearance : none

.is-select
  position : relative
  //- border : 1px solid $color-input-border
  select
    padding-right : $input-height
    height : $input-height
    cursor : pointer
    &:disabled
      cursor : not-allowed
  &:after
    font-family : 'Ionicons'
    content : '\f35f'
    font-size : $input-font-size
    text-align : center
    box-sizing : border-box
    pointer-events : none
    position : absolute
    right : 0
    width : $input-height
    line-height : $input-height
    background : lighten( $color-main-content, 5% )

