.is-primary
  background : $color-yellow
  color : $color-text-light

.is-warning
  background : $color-orange
  color : $color-text-light

.is-danger
  background : $color-red
  color : $color-text-light

.is-info
  background : $color-blue
  color : $color-text-light

.is-success
  background : $color-green
  color : $color-text-light

// hover
.is-hover-primary
  &:hover
    background : $color-yellow
    color : $color-text-light

.is-hover-warning
  &:hover
    background : $color-orange
    color : $color-text-light

.is-hover-danger
  &:hover
    background : $color-red
    color : $color-text-light

.is-hover-info
  &:hover
    background : $color-blue
    color : $color-text-light

.is-hover-success
  &:hover
    background : $color-green
    color : $color-text-light

