.is-centered-layout
  section.is-brand-layout( ui-sref="inside" )
    header
      img( src="assets/dif.png" ).is-invert
      h1 {{ system.name }}
    section
      h1.is-centered Aviso
      p
        | El sistema no esta disponible en este momento.

