.is-centered-layout
  section.is-brand-layout
    header
      img( src="assets/dif.png" ).is-invert
      h1 {{ system.name }}
    section
      form
        .is-row
          .is-one
            .is-field
              .is-control
                .is-icon
                  i.ion-android-person
                input(
                  type="text"
                  placeholder="usuario"
                  ng-model="credentials.username"
                )

        .is-row
          .is-one
            .is-field
              .is-control
                .is-icon
                  i.ion-key
                input(
                  type="password"
                  placeholder="contraseña"
                  ng-model="credentials.password"
                )

        .is-row
          .is-one
            button.is-button.is-success( ui-sref="inside" ) Entrar

